body{
 background: rgb(238,233,37);
background: linear-gradient(90deg, rgba(238,233,37,1) 0%, rgba(0,212,255,1) 100%, rgba(2,0,36,1) 100%);
}
.wrapper{ 
 color: blue;
	margin: 0 auto;
	width: 900px;
	display: flex;
	justify-content: space-around;
	align-content: center;
	font-size: 30px;


	}

	.description {
		color: white;

	}

	.canvas {
		margin: 0 auto;
		width: 50px;
		display: flex;
		justify-content: center;
	}
.description{
	margin: 0 auto;
	width: 900px;
	text-align: 40px;
	color: blueviolet;
}
button {
	font-size: 30px;
	background: rgba(0, 0, 0, 0.4);
	padding: 5px;
	border-radius: 20px;
	border: none;
	color:white;
}
.control{
	width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:20px;
}
